body{
    display: flex;
    align-items: left;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #2d1106;
    font-family: Arial, sans-serif;
    color: aliceblue;
}

h2{
    color: aliceblue;
    margin-top: 5%;
    margin-left: 20%;
}

pre{
    color: aliceblue;
    margin-left: 5%;
    font-size: 1.3rem;
    text-align: left;
}

button{
    background-color: aliceblue;
    color: black;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-family: sans-serif;
    font-style: bold;
    text-decoration:none;
    width: 10%;
    height: 5%;
    margin-left: 10%;
    cursor: pointer;
}

p{
    width: 50%;
    margin-left: 10%;
    background-color: aliceblue;
    height: 15%;
    border-radius: 1rem;
    text-align: center;
    color: #2d1106;
    font-size: 1.3rem;
    padding: 2%;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    position:fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    text-decoration:none;
    color: aliceblue;
    font-family: Arial, sans-serif;
    font-style: bold;
    font-size: 1.3rem;
}
