
body{
    display: flex;
    align-items: left;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #2d1106;
    font-family: Arial, sans-serif;
    color: aliceblue;
}

h2{
    color: aliceblue;
    margin-top: 5%;
    margin-left: 20%;
}

pre{
    color: aliceblue;
    margin-left: 5%;
    font-size: 1.3rem;
    text-align: left;
}

form {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-left: 20%;
}

form label{
    margin-right: 2%;
    font-family: sans-serif;
    font-size: 1.3rem;
}

form input{
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-family: sans-serif;
    font-style: bold;
    text-align: center;
    cursor: pointer;
}

p{
    width: 50%;
    margin-left: 10%;
    background-color: aliceblue;
    height: 10%;
    border-radius: 1rem;
    text-align: center;
    color: #2d1106;
    font-size: 1.3rem;
    padding: 2%;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    position:relative;
    bottom: 0;
    width: 100%;
}

footer a{
	text-decoration:none;
	color: aliceblue;
	font-family: Arial, sans-serif;
	font-style: bold;
	font-size: 1.3rem;
    padding: 2%;
}


